

.containerb {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: left;
    color: white;
    width: 90%;
    max-width: 1200px;
}

.text-content {
    position: absolute;
    top: 20%;
    left: 10%;
}

.text-content h1 {
    font-size: 3em;
    color: #d63384;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.2em;
    color: yellow;
}

.badge {
    position: absolute;
    top: 10%;
    right: 10%;
}

.badge img {
    width: 150px;
    height: auto;
}

@media (max-width: 768px) {
    .text-content h1 {
        font-size: 2em;
    }

    .text-content p {
        font-size: 1em;
    }

    .badge img {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .text-content h1 {
        font-size: 1.5em;
    }

    .text-content p {
        font-size: 0.9em;
    }

    .badge img {
        width: 80px;
        background-size: cover;
    }
}