#food-banner{
    border-bottom: 10px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F7DCB9;
    padding-bottom: 20px;
 }
.containerA {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dish {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.dish img {
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
    transition: transform 0.3s;
    transition: 5s;
}
.dish h3 {
    font-size: 24px;
    margin: 10px 0;
}
.dish p {
    font-size: 16px;
    color: #666;
}
.dish:hover img {
    transform: scale(1.1);
}
.order-button {
    height: auto;
    background-color: #f4a460;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.order-button:hover {
    background-color: #d2691e;
    color: white;
    border: 1px solid black;
}
@media (max-width: 768px) {
    .dish {
        flex: 100%;
        max-width: 100%;
    }
}