body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    border-top: 10px solid white;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
    color: white;
}
.box1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.box1 div {
    margin: 0 100px;
    font-size: 1.2rem;
}

.footer img {
    width: 200px;
    margin-bottom: 10px;
}

.footer div {
    margin-bottom: 20px;
}

.footer .subscribe input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.footer .subscribe button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #001f3f;
    color: white;
    cursor: pointer;
}

.footer .social-icons a img {
    height: 30px;
    width: auto;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.footer .social-icons a:hover {
    color: #ddd;
}

.footer p {
    margin: 0;
    font-size: 14px;
}
.copyright {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-around;
        text-align: left;
    }

    .footer div {
        margin-bottom: 0;
    }

    .footer .subscribe {
        display: flex;
        align-items: center;
    }
}