.text-contentaa {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  flex-direction: column;
  margin: 180px 0;
  text-align: center;
}


.text-contentaa button {
    height: auto;
    background-color: #f4a460;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.text-contentaa button:hover {
    background-color: #d2691e;
    color: white;
    border: 1px solid black;
}
@media (max-width: 768px) {
  .text-content h1 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .text-content h1 {
    font-size: 1.5em;
  }
}
