body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100vh;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

button {
    background-color: #ff3300;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.social-media a:hover {
    color: #ffcc00;
}
.social-media a img {
    height: 20px;
    width: auto;
}
.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
.bg1 {
    display: flex;
    background-image: url(img/loginbg.jpg);
    background-size: cover;
}
.f1 {
    
    width: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f1 img {
    height: 200px;
    width: 200px;
}