body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.order-section, .reservation-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.order-section {
    background-color: red;
    border-right: 10px solid white ;
}
.reservation-section {
    background-color: red;
    color: white;
}
.order-section img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}
.order-section button, .reservation-section button {
    background-color: white;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.order-section button:hover, .reservation-section button:hover {
    background-color: black;
    color: white;
}
.reservation-section input, .reservation-section select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}
@media (max-width: 768px) {
    .order-section, .reservation-section {
        flex: 100%;
        max-width: 100%;
    }
}   