* {
    margin: 0;
    padding: 0;
}
.banner-back{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mohit-nav{
    position: relative;
}


.mohit-banner2{
    position: absolute;
    background-image: url(img/veg\ bg\ 1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
